{% extends 'base.html' %}
{% block title %}Forgot password{% endblock title %}
{% block content %}
  <div class="card shadow container col-md-5 my-5 p-5">
    <form autocomplete="on" method="POST" action="{% url 'forgot-password' %}"> {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal text-center"><b>Forgot password</b></h1><hr>
        <div class="form-floating">
          <input type="email" name="email" class="form-control my-2" id="id_email" placeholder="email">
          <label for="id_email">email</label>
        </div>
      <div class="text-center my-5"><input class="btn btn-dark rounded-pill" type="submit" value="Submit"></div>
    </form>
  </div>
{% endblock content %}