{% extends 'base.html' %}
{% block title %}Reset password{% endblock title %}
{% block content %}
  <div class="card shadow container col-md-5 my-5 p-5">
    <form autocomplete="on" method="POST" action="{% url 'reset-password' %}"> {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal text-center"><b>Reset password</b></h1><hr>
      <div class="form-floating">
        <input type="password" name="password" class="form-control my-2" id="id_password" placeholder="password">
        <label for="id_password">password</label>
      </div>
      <div class="form-floating">
        <input type="password" name="password2" class="form-control my-2" id="id_password2" placeholder="confirm password">
        <label for="id_password2">confirm password</label>
      </div>
      <div class="text-center my-5"><input class="btn btn-dark" type="submit" value="Submit"></div>
    </form>
  </div>
{% endblock content %}