{% extends 'base.html' %}
{% block title %}Signin{% endblock title %}
{% block content %}
  <div class="card shadow container col-md-5 my-5 p-5">
    <form autocomplete="on" method="POST" action="{% url 'signin' %}"> {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal text-center"><b>Signin</b></h1><hr>
      <div class="form-floating">
        <input type="email" name="email" class="form-control my-2" id="id_email" placeholder="email">
        <label for="id_email">email</label>
      </div>
      <div class="form-floating">
        <input type="password" name="password" class="form-control my-2" id="id_password" placeholder="password">
        <label for="id_password">password</label>
      </div>
      <a href="{% url 'forgot-password' %}" style="text-decoration: none;">Forgot password?</a>
      <div class="text-center my-5"><input class="btn btn-dark rounded-pill" type="submit" value="Signin"></div>
    </form>
  </div>
{% endblock content %}