<!-- START footer -->
  <div class="px-5 container-fluid bg-body-tertiary">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5>Get to Know Us</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About Us</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
          <h5>Connect with Us</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class="bi bi-facebook"></i> Facebook</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class="bi bi-twitter"></i> Twitter</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class="bi bi-instagram"></i> Instagram</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
          <h5>Make Money with Us</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{% url 'vendor-signup' %}" class="nav-link p-0 text-body-secondary">Become Vendor</a></li>
          </ul>
        </div>
        <div class="col-md-5 offset-md-1 mb-3">
          <form>
            <h5>Subscribe to our newsletter</h5>
            <p>Monthly digest of what's new and exciting from us.</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control rounded-pill" placeholder="Email address">
              <button class="btn btn-dark rounded-pill" type="button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
      <a class="float-end text-dark" href="#"><i class="fs-2 bi bi-arrow-up-circle-fill"></i></a>
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>Copyright © 2023 <b>The Shop</b>, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-facebook"></i></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-twitter"></i></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-instagram"></i></a></li>
        </ul>
      </div>
    </footer>
  </div>
<!-- END footer -->